<div class="container-fluid person-container">
  <div class="row">
    <div class="col-2 pic-placeholder">
      <img src="assets/Smith_foto.png" style="width:100%;">
    </div>
    <div class="col-10 text-placeholder">
      <h2>Smith Anderson</h2>
      <h5>Illustrator & Character Designer</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 blank">
    </div>
    <div class="col-10 community-ico">
      <img src="assets/fb.png" style="width:auto;">
      <img src="assets/tw.png" style="width:auto;">
      <img src="assets/g+.png" style="width:auto;">
      <img src="assets/pt.png" style="width:auto;">
      <img src="assets/li.png" style="width:auto;">
      <img src="assets/last.png" style="width:auto;">

    </div>
  </div>
</div>
