.form-container{
  padding: 5rem;
  background-color: #424242;

}
.my-col-left{
  background-color: #424242;
  color: white;
  text-align: right;
}

.my-col-right{
  background-color: #424242;
  color: white;
  text-align: left;
}

.header-col-left{
  background-color: #424242;
  color: white;
  text-align: left;
}

input, textarea,mat-form-field {
  width: 100%;
}

button {
  background-color: #2EB398;
}

mat-icon {
  color: #2EB398;
}
